# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration (MySQL)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=cloud_document_db

# AWS Configuration
AWS_ACCESS_KEY_ID=mock-access-key-id
AWS_SECRET_ACCESS_KEY=mock-secret-access-key
AWS_REGION=us-east-1
S3_BUCKET=cloud-document-bucket

# AWS S3 Custom Endpoint (Set to http://localhost:4566 to test with LocalStack S3 locally, otherwise leave empty for real AWS S3)
AWS_ENDPOINT=
